@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
.chat-output {
  flex: 1 !important;
  padding: 20px !important;
  display: flex !important;
  background: white !important;
  flex-direction: column !important;
  > div {
    margin: 0 0 20px 0 !important;
  }
  .user-message {
    .message {
      background: #0FB0DF !important;
      color: white !important;
    }
  }
  .bot-message {
    text-align: right !important;
    .message {
      background: #eee !important;
    }
  }
  .message {
    display: inline-block !important;
    padding: 12px 20px !important;
    border-radius: 10px !important;
  }
}
.chat-input {
  padding: 20px !important;
  background: #eee !important;
  border: 1px solid #ccc !important;
  border-bottom: 0 !important;
  .user-input {
    width: 100% !important;
    font-size: 2rem !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    padding: 8px !important;
  }
}

.react-chatbot-kit-chat-inner-container{
  margin-bottom: unset;
}
.react-chatbot-kit-chat-input{
  margin-top: unset;
}

.option-button{
  padding:0px !important;
}
