.projects-list-container{
    justify-content: space-around;
    display: flex;
    flex-wrap: nowrap;
}
.project-card{
    background-color:white !important;
    /* width: 195px; */
    /* height: 200px; */
    margin-bottom: 8px;
}
.project-pagination{
    display: flex;
    justify-items: flex-end;
}

.projectdisplay{
    display: flex;
    justify-content: space-between;
}
.ff{
    display: flex;
    justify-content: center;
}
.cc{
    background:seagreen !important;
    border-top: burlywood !important;
}