.projects-list-container{
    justify-content: space-around;
    display: flex;
    flex-wrap: nowrap;
}
.project-card{
    background-color:white !important;
    /* width: 195px; */
    /* height: 200px; */
    margin-bottom: 8px;
}
.project-pagination{
    display: flex;
    justify-items: flex-end;
}