.App {
    text-align: center;
}

#root{
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}


.sc-jgbSNz{
background-image: url("assets/layout/images/background.jpg");
background-repeat: no-repeat;
background-size:cover;
    background-position: center;
}